<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Клиенты</title>
</head>

<body>
<h4>Добавить нового клиента</h4>
<form action="clients" method="post" style="width: 400px;">
    <p style="width: 100%;">
        <label for="name">Имя клиента:</label>
        <input type="text" name="name" id="name" required style="width: 70%; float: right;">
    </p>
    <p>
        <label for="street">Адрес:</label>
        <input type="text" name="street" id="street" required style="width: 70%; float: right;">
    </p>
    <p>
        <label for="phone">Телефон:</label>
        <input type="text" name="phone" id="phone" required style="width: 70%; float: right;">
    </p>
    <button type="submit">Добавить</button>
</form>

<h4>Список клиентов</h4>
<table style="width: 400px">
    <thead>
        <tr>
            <td style="width: 50px">Id</td>
            <td style="width: 150px">Имя</td>
            <td style="width: 100px">Улица</td>
            <td style="width: 100px">Телефон</td>
        </tr>
    </thead>
    <tbody>
        <#list clients as client>
            <#list client.phones as phone>
            <tr>
                <td>${client.id}</td>
                <td>${client.name}</td>
                <td>${client.address.street}</td>
                <td>${phone.number}</td>
            </tr>
            </#list>
        </#list>
    </tbody>
</table>
</body>
</html>
